<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Acts Of Friendship</title>
	<link rel="stylesheet" href="/css/bulma.min.css">
	<link rel="stylesheet" href="/css/layout.css">
</head>

<body>

	<div id="entire-page">

		<header class="hero has-text-centered is-dark">
			<div class="hero-body">
				<div class="container">
					<h1 class="title">Acts Of Friendship</h1>
				</div>
			</div>
		</header>

		<nav class="tabs is-centered">
			<ul>
				<li><a class="navbar-item" href="/">Home</a></li>
				<li><a class="navbar-item" href="/account/shows">My Account</a></li>
				<li><a class="navbar-item" href="/findfriends">Find Friends</a></li>
				{{#if accountLoggedIn}}
				<li>
					<form action="/account/sign-out" method="post">
						<button type="submit" value="signOut" class="button is-primary">Sign out</button>
					</form>
				</li>
				{{else}}
				<li><a class="button is-primary" href="/account/sign-up">Sign up</a></li>
				<li><a class="button is-dark" href="/account/sign-in">Sign in</a></li>
				{{/if}}
			</ul>
		</nav>

		<main>{{{body}}}</main>

		<footer class="footer">
			<div class="content has-text-centered">
				Copyright © The Musks 2019
			</div>
		</footer>

	</div>

</body>

</html>