{{#if errors.length}}
<p>Oh no, something went wrong:</p>
<ul>
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}

To: {{receiverUsername}}
<br>
<br>

<article class="media" style="margin-left: 50px">
    <form method="POST" action="/account/sendMessage/{{receiverUsername}}">
        <div class="field">
            <textarea class="textarea" placeholder="Write Message..." name="message" rows="5" cols="150"></textarea>
        </div>
        <nav class="level-left">
            <input type="submit" class="button is-dark" value="Send">
        </nav>
    </form>
</article>