<div class="block">
    <div class="columns">
        <div class="column is-one-fifth">
            <aside class="menu" id="sideMenu">
                <p class="menu-label">My Account</p>
                <ul class="menu-list">
                    <li><a href="/account/shows">My Shows</a></li>
                    <li><a href="/account/messages">My Messages</a></li>
                    <li><a href="/account/friends">My Friends</a></li>
                </ul>
            </aside>
        </div>

        <div class="column is-three-fifth" id="mainWindow">

            <div class="content">
                <h1>Messages</h1>
                {{#if errors.length}}
                <p>Oh no, something went wrong:</p>
                <ul>
                    {{#each errors}}
                    <li>{{this}}</li>
                    {{/each}}
                </ul>
                {{else}}

                {{#if messages.length}}
                <ul>
                    {{#each messages}}
                    <li> From: {{senderUsername}}, To: {{receiverUsername}}, Message: {{message}}</li>
                    {{/each}}
                </ul>
                {{else}}
                <p>No messages exist yet.</p>
                {{/if}}
                {{/if}}
            </div>

        </div>
    </div>
</div>