<div class="content">

    {{#if errors.length}}
    <p>Oh no, something went wrong:</p>
    <ul>
        {{#each errors}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
    {{/if}}

    <form action="/account/add-show" method="POST">
        Band/Artist:<br>
        <input type="text" name="name">
        <br>
        Location:<br>
        <input type="text" name="location">
        <br>
        Date:<br>
        <input type="date" name="date">
        <br>
        <input type="submit" value="Add" name="show">
    </form>

</div>