<div class="content">
	<h2>Sign up</h2>
	<p>Create a new account using the form below.</p>
</div>

<form action="/account/sign-up" method="POST">
	Username:<br>
	<input type="text" name="username">
	<br>
	Password:<br>
	<input type="password" name="password">
	<br>
	Repeat Password:<br>
	<input type="password" name="password2">
	<br><br>
	<input type="submit" value="Sign up">
</form>