<div class="content">
  <h2>Sign in</h2>
  <p>Sign in using the form below.</p>
</div>

<form action="/account/sign-in" method="POST">
  Username:<br>
  <input type="text" name="username">
  <br>
  Password:<br>
  <input type="password" name="password">
  <br><br>
  <input type="submit" value="Sign in">
</form>