<div class="block">
    <div class="columns">
        <div class="column is-one-fifth">
            <aside class="menu" id="sideMenu">
                <p class="menu-label">Find Friends</p>
                <ul class="menu-list">
                    <li><a href="/findfriends/">Seen the Same Bands/Artist</a></li>
                    <li><a href="/findfriends/shows">Seen the Same Shows</a></li>
                </ul>
            </aside>
        </div>

        <div class="column is-three-fifth" id="mainWindow">
            <div class="content">
                <h1>Find Friends</h1>
                <div class="field">
                    <p class="control">
                        <span class="select">
                            <select name="band" form="bandform">
                                <option>Choose a band</option>
                                {{#if shows.length}}
                                {{#each shows}}
                                <option value="{{name}}">{{name}}</option>
                                {{/each}}
                                {{else}}
                                <option></option>
                                {{/if}}
                            </select>
                        </span>
                    </p>
                </div>
                <form action="/findfriends/bandsearch" method="POST" id="bandform">
                    <br>
                    <input type="submit" value="Search">
                </form>
                {{#if errors.length}}
                {{#each errors}}
                <p>{{this}}</p>
                {{/each}}

                {{/if}}
            </div>
        </div>
    </div>