<div class="block">
    <div class="columns">
        <div class="column is-one-fifth">
            <aside class="menu" id="sideMenu">
                <p class="menu-label">Find Friends</p>
                <ul class="menu-list">
                    <li><a href="/findfriends/">Seen the Same Bands/Artist</a></li>
                    <li><a href="/findfriends/shows">Seen the Same Shows</a></li>
                </ul>
            </aside>
        </div>

        <div class="column is-three-fifth" id="mainWindow">
            <div class="content">
                <h3>{{username}}</h3>
                {{#if errors.length}}
                {{#each errors}}
                <p>{{this}}</p>
                {{/each}}
                {{else}}
                <p>Friend added :)</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>