<div class="block">
    <div class="columns">
        <div class="column is-one-fifth">
            <aside class="menu" id="sideMenu">
                <p class="menu-label">Find Friends</p>
                <ul class="menu-list">
                    <li><a href="/findfriends/">Seen the Same Bands/Artist</a></li>
                    <li><a href="/findfriends/shows">Seen the Same Shows</a></li>
                </ul>
            </aside>
        </div>

        <div class="column is-three-fifth" id="mainWindow">
            <div class="content">
                <h3>{{band}}</h3>
                {{#if accounts.length}}
                <ul>
                    {{#each accounts}}
                    <li value="username">{{username}}</li>
                    <form action="/findfriends/addfriend/{{id}}" method="POST"><button type="submit"
                            class="button is-dark is-small">Add as friend</button></form>
                    {{/each}}
                </ul>
                {{else}}
                <p>No matches :(</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>