<h1 class="is-size-3 is-centered">Music is connection</h1>
<p>There are people out in the world that share your love for specific music. Find them here and connect!</p>

{{#if errors.length}}
<p>Oh no, something went wrong:</p>
<ul>
    {{#each errors}}
    <li>{{this}}</li>
    {{/each}}
</ul>
{{/if}}